{% trans_default_domain "app" %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="team notdecided">
        {{ "Team has not yet been decided for today"|trans }}
    </div>
{% endblock %}
